body { background-color: #d2e2f4; 
      color:#002f64;
      font-family: Arial, Verdana, sans-serif;
       background-image: url(polaroid.png);}


h1 { background-color: #002f64; 
     color: #ffffff; 
     line-height: 200%; 
     font-family: Georgia, "Times New Roman", serif; 
      text-align: center; }

main {padding:25px;}        

h2 { background-color: #8eb2d8; 
     color: #002f64; 
     font-family: Georgia, "Times New Roman", serif; 
     text-align: center; 
     font-size: 1.2em;
     padding-left: 10px;
     padding-bottom: 5px; }

nav { text-align: center; }

footer {font-size: .70em;
        font-style: italic;
        text-align: center; 
        padding: 10px;
        color:#ffffff;
        background-color:#002f64; }     

#wrapper {margin-left: auto;
          margin-right: auto;
          width: 80%;
          background-color: #ffffff ;
          min-width: 700px;
          max-width: 1024px;
          box-shadow:5px 5px 5px #828282; }      