body, html {
margin:0;
font:1em "Open Sans", sans-serif; 
background-image: url(img/boat.jpg); 
background-size: cover; 
background-repeat: no-repeat;
height: 100%;
}

.wrapper{
    min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.content {
padding:30px; }


h1{
    text-align: center;
}
/************* Navigation Bar ************/


nav {
    text-align: center;
    background-color: #2a2b2a;
    position: fixed;
    top:0;
    width:100%;
  }

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color:rgb(210, 213, 218)
}


  /****************** FOOTER ***********************/
  .social-icons{
    background-color: #2a2b2a;
    display:block;
    text-align: center;
}
.social-icon{
    width:40px;
    padding:15px 10px 5px 5px;
}
.social-icons p{
    margin-bottom: 0;
}

.social-icons p:nth-last-of-type(1){
    color:#393d41;
}

.social-icons p:nth-last-of-type(2){
    color:#27A0A0;
    font-size: 16px;
}

.social-icons a{
    text-decoration: none;
}
p{
    padding-top:10px;
}

.copywright{
    padding-top:0;
    margin-top: 10px;
}
.home{
color: #27A0A0;
}

.container4{
    height: 10em;
    position: relative;
    color: white;
}
.container4 h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}