body { background-color: #6699ff;
	   color: #d5e3ff;
	   font-family: Verdana, Arial, sans-serif; }

header{ background-color: #6699ff;
 		color: #003366;
 		font-family:serif;}	   

h1 	  { line-height: 200% }


nav	  {font-weight: bold; 
	   text-align:center;}	

.category { font-weight: bold:;
		    background-color: #6699ff;
		    color: #003366;
		    font-size:1.1em; 
			text-shadow:1px 1px 1px #666;}


footer  { font-size: .70em;
	      font-style: italic;}		    

#footer-nav {text-align:left;}

#wrapper {min-width: 700px;
	 	 max-width:1024px;
	 	margin-right: auto;
	 	margin-left: auto; }	         


#img {align:center;}		  