body { background-color: #ffffcc;
	   color: #330000;
	   font-family: Verdana, Arial, sans-serif;	 
       background-image: url(background.gif); 
        }

header {background-color: #ccaa66;
		color: #000000; 
		text-align: center; }	   

h1 { background-color: #ccaa66; 
     color: 000000; 
     text-align: center;
     line-height: 200% }

h2  {background-color: #ccaa66;
     font-size: 1.2em;
     padding-left: 10px;
     padding-bottom: 5px; }

main {padding:25px;}

nav { text-align: center; }

footer { background-color: #ccaa66; 
         color: 000000;
         font-size: .60em;
         font-style: italic;
         text-align: center; 
        padding: 10px;}

img { border: 0; }

.details { padding-left:20%;
           padding-right:20%;}


#wrapper {margin-left: auto;
		  margin-right: auto;
		  width: 80%;
          background-color: #ffffcc;
          min-width: 700px;
          max-width: 1024px;
          box-shadow:5px 5px 5px #828282; 
          }	         