/* Color Palette
#455561 dark green (independence)
#839791 light green (roman silver)
#AAC0AF lighter green (cambridge blue)
#313E50 dark blueish (charcoal)
#F5F5F5 whitesmoke
#F8F8FF ghost white
#D2E6E7 AZUREISH WHITE
#D3DDDD GAINSBORO
#F9F7F1 smoke white


*/

/******** Global Styles **********/

/* apply a natural box layout model to all elements, but allowing components to change */
 html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

body {
  font-family: 'Open Sans', sans-serif;
  margin:0;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

h3 {
  margin:0;
}

a {
  color: #F5F5F5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.uppercase{
  text-transform: uppercase;
}

.content-wrap{
  max-width:950px;
  margin: 0 auto;
  padding:55px 50px;
  overflow: auto;
}

.button{
  text-decoration: none;
  background-color: #EF233C;
  color:white;
  padding: 10px;
  display: inline-block;

}
.button:hover {
  text-decoration: none;
}


/************* Header & Footer  ***********/
header, footer {
  background-color: #455561;
  color: #F8F8FF;
}
/** Header **/
.profile-img{
  border-radius: 50%;
}

.location {
  position: absolute;
  bottom:0;
  right:0;
}

header {
  padding-top: 50px;
  position: relative;
}

header h1, header h2{
  color:#F8F8FF;
  margin:0;
}

/** footer **/
footer {
  text-align: center;
}
.color a{
  padding:10px;
  display: inline-block;
}


/************* Navigation Bar ************/


  nav {
    text-align: center;
    background-color: #F9F7F1;
    /*background-color: #E0E3E3;*/
    position: fixed;
    top:0;
    width:100%;
  }

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color:#313E50
}



/*************** Work Exprience**********/

.work {
  background-color:#D2E6E7;
}

h3 ~ p {
  margin:0;
}

.job-description p:first-of-type{
  margin-top: 0;
  margin-bottom: 25px;
}

/********** Eduction ******************/
.education {
  /*background: #8D99AE;*/
  background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
              url(../img/city.jpg) no-repeat fixed;
  background-size: cover;
}

p + h3 {
  margin-top: 30px;
}

/********** Media Queries ******************/
/* Any content 900px or wider display two columns */
@media(min-width: 900px) {
  .col-narrow {
    width:30%;
    float:left;
    /*min-height: 250px;*/
  }

  .col-wide {
    width:70%;
    float:left;
    padding-left: 20px;
    /*min-height: 250px;*/
  }
}
/* Any screen this is 899px or smaller apply style below */
@media (max-width:899px) {
  header {
    text-align: center;
  }
  .profile-img{
    width:200px;
  }
}
